# MDRFC server
## database integration
DATABASE_URL=str

## JWT auth
SECRET_KEY=str
JWT_ALGORITHM=str
ACCESS_TOKEN_EXPIRE_MINUTES=int

## SMTP stuff
APP_BASE_URL=str
EMAIL_FROM=str
SMTP_HOST=str
REQUIRED_EMAIL_SUFFIX=str
RESEND_API_KEY=str

## utils
AUTH_DEBUG_RETURN_VERIFICATION_TOKEN=bool

# MDRFC client
MDRFC_USERNAME=str
MDRFC_PASSWORD=str